

body{
    margin:0;
    padding: 0;
}

.marsheetCon{
    border: 2px solid;
    width: 60%;
    padding: 30px;
    margin: 20px auto;
    
}
#boardTileHdr{
    font-size: 33px;
    font-weight: bold;
    text-align: center;
    color: rgb(146, 79, 31);  
    margin-bottom: 10px; 
    
}

/* picture section logo */

#picSec{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
#picture{
    height: 150px;
    width: 100px;
    margin: 10px;
    background-image: url('./images/images\ \(1\).png');
    background-size: cover;
    background-position: center;
}

#logoBoard{
    height: 160px;
    margin-top: 20px;
    width: 120px;
    background-image: url('./images/a04b0cd5-9dda-4d16-8c6e-72f49c130236.jfif');
    background-size: cover;
    margin-left: 25px;
}
#marksTitle{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
    font-family:cursive;
    position: relative;
    padding: 20px 40px 10px 0px;
    color: rgb(25, 25, 71);
}


#groups{
    text-align: left;
    font-weight: normal;
}
#seatNo{
    margin-top: 20px;
    font-size: 20px;
}

#Part{
    font-style:normal;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    margin-bottom: 20px;
    position: relative;
    bottom: 10px;
    color: black;
}
/*_______________ Student data */
.studentsbio{
    font-weight: bold;
    display: flex;
    padding: 4px;
    
}
#fullName{
     text-align: right;
     padding-left: 83px;
}
#fullFName{
    text-align: right;
}
#institute{
    text-align: right;
    padding-left: 45px;
    width: 100%;
    text-align: left;
}

#surName{
    text-align: right;
    padding-left: 51px;
}
#tharParkar{
    text-align: right;
    padding-left: 55px;

}


/* ____________  table */
.table{
    margin-top: 20px;
    font-size: 13px;
}
th{
    border: 1px solid;
    height: 28px;
    width: 280px;
    font-size: 13px;
}
td{
    width: 100px;
    border: 1px solid;
    text-align: center;
    font-weight: bold;
    height: 20px;
}
#titleSubj{
    font-size: 17px;
    text-align: left;
    padding-left: 20px;
    padding: 10px;
}

.subject{
    width: 35%;
    font-weight: bold;
    text-align: left;
    padding: 7px 0px 7px 4px;
    font-size: 13px;
}




/* ______________ Last Selection___________ */

.scanGradeCon{
    display: flex;
    justify-content: space-between;
}
.qrCode{
    width: 120px;
    height: 120px;
    background-image: url('./images/download.png');
    background-size: cover;
    background-position: center;
}
.gradecon{
    font-size: 20px;
    font-weight: bold;
    display: flex;
    text-align: center;
    align-items: center;
    padding-bottom: 40px;
}
.grade{
    border: 2px solid;
    height: 20px;
    padding: 10px;
    margin: 10px;
    width:70px;
    text-align: center;
}
.date{
    margin-left: 10px;
    margin-bottom: 100px;
}

.signContainer{
    display: flex;
    justify-content: space-between;
}
.controllarSign{
    height: 100px;
    width: 150px;
    background-size: cover;
    background-image: url('./images/controller\ of\ examinations.jfif');
    background-position: center;
    background-clip: border-box;

}
.Last3{
    margin-bottom: 30px;
    font-size: 13px;
}

/*************** html page styling ****************/
  form{
    border: 2px solid;
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: rgba(248, 244, 238, 0.603);
  }
  #boardTITLE{
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   }
  label,input{
    width: 85%;
    padding: 10px;
    margin:4px auto;
    border: 2px solid gray;
    border-radius: 4px ;
   margin-left:20px;
  }
  #dist{
    width: 150px;
  }
  select{
    margin:10px;
    padding: 10px;
    border-radius: 4px;
    width: 135px;
  }
  #seatNoInput{
    width: 80px;
    border: 1px solid;

  }

  /* Results input */
  #URDU_SINDHI_Part1, #URDU_SINDHI_Part2{
     width: 50%;
  }
  #english_1, #english_2{
    width: 50%;
  }
  #islamiyatEthics{
    width: 41%;
  }
  #physics_1, #physics_2{
    width: 50%;
  }
  #chem_1,#chem_2{
    width: 52%;
  }
  #maths_1,#maths_2{
     width: 40%;
  }
  #pakStudies{
    width: 42%;
  }


  label{
    font-weight: bold;
    border: none;
    margin-left:0px;
  }
 #partTitle{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-left: 20px;
    font-size: 20px;
 }
 .inputResults{
    width: 30%;
 }
 .labelSubjects{
    border: 2px solid rgb(148, 85, 54);
    color: chocolate;
    cursor: pointer;
 }
 #buttonsContainer{
    text-align: center;
    justify-content: space-around;
    display: flex;
    padding-top: 20px;
 }

.buttons{
    width: 30%;
    height: 40px;
    font-size: 18px;
    font-weight: bold;
    border: none;
    color: white;
    background-color: rgb(0, 0, 0);
    display: block;
    cursor: pointer;
    margin-left: 40px;

}
.buttons:hover{
    background-color: rgb(139, 83, 42);
    color: white;
    transition: 1s ease-in;
}



 @media (max-width:1000px){
     body{
        background-color: rgba(0, 0, 0, 0.288);
     }
     #title_dataall{
      padding: 20px;
      border: 2px solid;
     }
     
    
     form{
        min-width: 640px;
         margin: auto;
         border: none;
         
     }
     .marsheetCon{
        min-width: 570px;
        background-color: white;
        border: none;
     }
     #marksTitle{
        font-size: 26px;
        font-weight: bold;
        padding: 5px 40px 4px 0px;
    }
     #Part{
        font-size: 18px;
     }
     .date{
        margin-bottom: 50px;
     }

/* Results input */
  #URDU_SINDHI_Part1, #URDU_SINDHI_Part2{
    width: 51%;
  }
 #english_1, #english_2{
    width: 58%;
 }
 #islamiyatEthics{
     width: 44%;
    }
 #physics_1, #physics_2{
     width: 58%;
   }
 #chem_1,#chem_2{
   width: 53%;
    }
 #maths_1{
     width: 49%;
    }
 
  #maths_2{
    width: 50%;
    }
  #pakStudies{
     width: 45%;
    }
.part_HSC-Container{
      text-align: center;
   } 

 .studentsbio{
    font-size: 13px;
    }
  .Last3{
    margin-bottom: 10px;
    font-size: 12px;

   }
   td{
      height: 10px;
   }
   .buttons{
    margin-left: 60px;
   }
  
   .marsheetData{
    padding: 20px;
    min-width: 640px;
   }

 }